* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: lighter;
  src: local("Harry Potter Regular"), url("HARRYP__.TTF") format("woff");
}

@font-face {
  font-family: "HarryPotter7";
  src: url("http://www.fontsaddict.com/fontface/harrypotter7.ttf");
}

/* intro screen */

html {
  background: url(/assets/clouds2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  color: rgb(236, 224, 224);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
}

.intro h1 {
  margin-top: 400px;
  font-family: "Harry Potter Regular";
  font-size: 160px;
  animation: text 3s 1;
}

.intro input {
  margin-top: 40px;
  margin-right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  background: rgb(255, 255, 255, 0);
  border-radius: 3px;
  cursor: pointer;
}

.intro input {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

/* header */

.header {
  overflow: hidden;
  background-color: #06061c;
  padding: 20px 10px;
  height: 12%;
}

.header a {
  float: left;
  color: rgb(236, 224, 224);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: "HarryPotter7";
}

.header a.main {
  font-size: 30px;
  font-weight: bold;
}

.header-right a:hover {
  color: #d4af37;
}

.header a.active {
  color: rgb(236, 224, 224);
}

.header-right {
  float: right;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
}

/* about */

.column {
  margin-left: 15%;
  margin-top: 20px;
  width: 70%;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
  margin-top: 180px;
  background-color: #06061c;
  border-radius: 7px;
  color: rgb(236, 224, 224);
}

.card h2 {
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
  font-family: "HarryPotter7";
  font-size: 40px;
  color: rgb(236, 224, 224);
}

.card p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  font-family: "Tahoma";
  color: rgb(236, 224, 224);
}

.container {
  display: inline;
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* image gallery */

div.gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 40%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* contact */

.icon-bar {
  margin-left: 32%;
  width: 50%;
  overflow: auto;
  align-items: center;
}

.icon-bar a {
  float: left;
  width: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(236, 224, 224);
  font-size: 36px;
  border: 2px solid rgb(236, 224, 224);
  border-radius: 60px;
}

.icon-bar a:hover {
  color: #d4af37;
}

.active {
  color: #d4af37;
}

#contact-me p {
  text-align: center;
}

/* preloader */

.preload {
  visibility: hidden;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

#hp-flying {
  width: 150px;
  animation: hpfly 0.7s ease infinite alternate;
}

/* animations */

@keyframes hpfly {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes text {
  0% {
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}
